*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

hr{
  background-color: #192f60;
  margin: auto;
}

/*header*/
  #header {
    width: 100%;
    height: 80px;
    background-color: #192f60;
    position: static;
  }

  #header nav{
    overflow: hidden;
    text-align: center;
  }

  #header ul{
    display: inline-block;
    color: #f8f4e6;
    list-style: none;
    font-size: 20px;
  }

  #header li{
    width: 180px;
    float: left;
    line-height: 100px;
  }

  #header li.current a{
    color: #192f60;
    background-color: #f8f4e6;
    border-radius: 8px 0px 8px 0px;
  }

  #header a{
    color:inherit;
    text-decoration: none;
  }

  #header p{
    position: absolute;
    top: 10px;
    right: 30px;
    color: #f8f4e6;
    font-size: 16px;
  }

/*home*/
#home{
  color: #192f60;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

#home figure{
  display: flex;
  margin: 0 auto;
}

#home dl{
  padding-left: 20px;
  padding-top: 150px;
}

#home dl h1{
  font-size: 36px;
  white-space: nowrap;
  font-weight: normal;
}

#home dl li{
  white-space: nowrap;
  list-style: none;
  font-size: 16px;
}



/*Bio*/
#bio{
  color: #192f60;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

#bio h1{
  font-size: 36px;
  padding-bottom: 12px;
  font-weight: normal;
}

#bio p{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
  max-width: 700px;
}

/*cv*/
#cv{
  color: #192f60;
  padding-top: 12px;
  padding-bottom: 12px;
}

#cv h1{
  text-align: center;
  font-size: 36px;
  margin: auto;
  padding-bottom: 12px;
  font-weight: normal;
}
  
#cv h2{
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
  font-weight: normal;
}

#cv ul{
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 12px;
}

#cv ul li{
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
}

#cv a{
  color: inherit;
  text-decoration: underline;
}

/*footer*/
#footer{
  width: 100%;
  height: 60px;
  background-color: #192f60;
  }

#footer p{
  color: #f8f4e6;
  position: relative;
  text-align: center;
  line-height: 60px;
}
